#principal {
    border: solid 1px #6b1bec;
    padding: 5px;
    margin: 0 auto;
    width: 85%;
    background-color: #a6d6e9 !important;
}

fieldset {
    margin-bottom: 10px;
}

legend {
    border: solid 1px #04020e;
    padding: 5px;
    font-weight: bold;
    background: #cccccc;
    border-radius: 15px;
}

#mifoto {
    border: solid 2px;
    margin: 10px;
}